<div *ngIf="loading">
  <!-- <app-loading></app-loading> -->
  <p>.....Loading</p>
</div>

<!-- <div *ngIf="error">
  {{ error }}
</div> -->

<div *ngIf="movie" class="container">
  <div class="row">
    <div class="col-sm-6">
      <img [src]="movie.hinhAnh" alt="movie" width="300" height="300" />
    </div>
    <div class="col-sm-6">
      <h1>{{ movie.tenPhim | uppercase }}</h1>
      <p>{{ movie.ngayKhoiChieu | date: "dd-MM-yyyy hh:mm:ss" }}</p>
      <p>{{ movie.moTa | shortcut }}</p>
      <!-- //pipe key value -->
      <p *ngFor="let item of obj | keyvalue">
        {{ item.key }}- {{ item.value }}
      </p>
      <!-- key slice -->
      <p *ngFor="let num of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] | slice: 0:5">
        {{ num }}
      </p>
    </div>
  </div>
</div>
