<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="text-center">
        <a routerLink="signin" class="mr-4">Sign In</a>
        <a routerLink="signup">Sign Up</a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
