<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">CyberSoft</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/movie">Movie </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/booking">Booking </a>
      </li>
    </ul>
    <div *ngIf="currentUser">
      <p>{{ currentUser.hoTen }}</p>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
