<div
  *ngIf="validator.invalid && (validator.dirty || validator.touched)"
  class="alert alert-danger"
>
  <ng-container *ngFor="let item of validator.errors | keyvalue">
    <span *ngIf="item.value"> {{ message[name][item.key] }} </span>
  </ng-container>
</div>
