<h1 class="text-center">SIGN UP</h1>

<form #signUpForm="ngForm" (ngSubmit)="handleSignUp(signUpForm.value)">
  <div class="form-group">
    <label for="taiKhoan">Tài Khoản</label>
    <input
      type="text"
      name="taiKhoan"
      id="taiKhoan"
      class="form-control"
      ngModel
      #taiKhoan="ngModel"
      required
    />
    <div *ngIf="taiKhoan.invalid && (taiKhoan.dirty || taiKhoan.touched)">
      <span *ngIf="taiKhoan.errors.required"
        >Tài Khoản Không Được Để Trống
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="matKhau">Mật khẩu</label>
    <input
      type="password"
      name="matKhau"
      id="matKhau"
      class="form-control"
      ngModel
      #matKhau="ngModel"
      required
      minlength="3"
      maxlength="20"
    />
    <div *ngIf="matKhau.invalid && (matKhau.touched || matKhau.dirty)">
      <span *ngIf="matKhau.errors.required">
        Mat Khau Khong Duoc Bo Trong
      </span>
      <span *ngIf="matKhau.errors.minlength || matKhau.errors.maxlength">
        Mat khau trong do dai tu 3 den 20
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="hoTen">Họ và Tên</label>
    <input
      type="text"
      name="hoTen"
      id="hoTen"
      class="form-control"
      ngModel
      #hoten="ngModel"
      required
    />
    <div *ngIf="hoten.invalid && (hoten.touched || hoten.dirty)">
      <span *ngIf="hoten.errors.required"> Ho Ten Khong Duoc Bo Trong </span>
    </div>
  </div>
  <div class="form-group">
    <label for="sdt">Số điện thoại</label>
    <input
      type="text"
      name="sdt"
      id="sdt"
      class="form-control"
      ngModel
      #sdt="ngModel"
      required
    />
    <div *ngIf="sdt.invalid && (sdt.touched || sdt.dirty)">
      <span *ngIf="sdt.errors.required">
        So dien thoai Khong Duoc Bo Trong
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      id="email"
      class="form-control"
      ngModel
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      #email="ngModel"
      required
    />
    <div *ngIf="email.invalid && (email.touched || email.dirty)">
      <span *ngIf="email.errors.required"> Email Khong Duoc Bo Trong </span>
      <span *ngIf="email.errors.pattern"> Email khong dung dinh dang </span>
    </div>
  </div>
  <button class="btn btn-success" [disabled]="signUpForm.invalid">
    Dang ky
  </button>
</form>
