<div class="d-flex">
  <div class="w-25">
    <ul>
      <li>
        <a routerLink="/admin/user">User</a>
      </li>
      <li>
        <a routerLink="/admin/movie">Movie</a>
      </li>
    </ul>
  </div>
  <div class="w-75">
    <router-outlet></router-outlet>
  </div>
</div>
