/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
}

.demo {
  color: yellow;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
  border-left: 2px red solid;
}
