<h1 class="text-center">Sign In</h1>

<form [formGroup]="signInForm" (ngSubmit)="handleSignIn()">
  <div class="from-group">
    <label for="taiKhoan">Tai Khoan</label>
    <input
      type="text"
      id="taiKhoan"
      name="taiKhoan"
      class="form-control"
      formControlName="taiKhoan"
    />
    <app-errormessage
      name="taiKhoan"
      [validator]="signInForm.get('taiKhoan')"
    ></app-errormessage>
    <!-- <div
      *ngIf="
        signInForm.get('taiKhoan').invalid &&
        (signInForm.get('taiKhoan').touched || signInForm.get('taiKhoan').dirty)
      "
    >
      <span *ngIf="signInForm.get('taiKhoan').errors.required"
        >Tai Khoan Khong Duoc De Trong</span
      >
    </div> -->
  </div>
  <div class="from-group">
    <label for="matKhau">Mat Khau</label>
    <input
      type="password"
      id="matKhau"
      name="matKhau"
      class="form-control"
      formControlName="matKhau"
    />
    <app-errormessage
      name="matKhau"
      [validator]="signInForm.get('matKhau')"
    ></app-errormessage>
    <!-- <div
      *ngIf="
        signInForm.get('matKhau').invalid &&
        (signInForm.get('matKhau').touched || signInForm.get('matKhau').dirty)
      "
    >
      <span *ngIf="signInForm.get('matKhau').errors.required"
        >Mat Khau Khong Duoc De Trong</span
      >
      <span
        *ngIf="
          signInForm.get('matKhau').errors.minlength ||
          signInForm.get('matKhau').errors.maxlength
        "
        >Mat Khau do dai tu 3 den 20</span
      >
    </div> -->
  </div>
  <button class="btn btn-danger mt-4">Dang Nhap</button>
</form>
