<div class="container">
  <div class="row">
    <div *ngFor="let movie of movieList" class="col-sm-4">
      <div class="card">
        <img class="card-img-top" [src]="movie.hinhAnh" alt="" />
        <div class="card-body">
          <h4 class="card-title">{{ movie.tenPhim }}</h4>
          <p class="card-text">{{ movie.moTa | shortcut }}</p>
          <button
            class="btn btn-success"
            [routerLink]="['movie']"
            [queryParams]="{ maPhim: movie.maPhim, tenPhim: movie.tenPhim }"
          >
            Chi tiet
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
